article.post
  margin-bottom: 1em
  padding: 1em 2em
  border: 1px solid lightblue
  width: 70%
h1, h2 
  margin-bottom: 0
section.post-preview
  padding: .5em 0
section.post-body
  padding-top: 1em
.form_control input, textarea
  width: 70%