// Place all the styles related to the tag controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.xs
  font-size: 1.0em
.s
  font-size: 1.2em
.m
  font-size: 1.4em
.l
  font-size: 1.6em
.xl
  font-size: 1.8em
  